<div id="users-show">
  <div class="user-card">
    <img src="<%= @user.photo %>" alt="User photo">
    <div class="user-info">
      <h2><%= @user.name %></h2>
      <p> Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <div class="user-bio">
    <h2 class="section-title">Bio</h2>
    <p><%= @user.bio %></p>
  </div>

  <ul class="user-posts">
    <% @user.most_recent_posts.each do |post| %>
      <li class="post">
        <h2 class="post-title">
          <%= link_to post.title, user_post_path(post.author_id, post.id) %>
          <span class="post-id">#<%= post.id %></span>
        </h2>
        <p class="post-body"><%= post.text %></p>
        <div class="post-info">
          <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
        </div>
        <% if post.likes_counter.zero? %>
          <%= button_to "Be the first to like this post", user_post_likes_path(user_id: post.author.id, post_id: post.id), method: :post, class: 'btn-like' %>
        <% else %>
          <%= button_to "Like this post", user_post_likes_path(user_id: post.author.id, post_id: post.id), method: :post, class: 'btn-like' %>
        <% end %>
        <% if post.comments_counter.zero? %>
          <%= link_to "Be the first to leave a comment", new_user_post_comment_path(user_id: @current_user.id, post_id: post.id), class: "link-new-comment" %>
        <% else %>
          <%= link_to "Leave a comment", new_user_post_comment_path(user_id: @current_user.id, post_id: post.id), class: "link-new-comment" %>
        <% end %>
      </li>
    <% end %>
    <li class="user-posts-more">
      <button>
        <%= link_to "See all posts", user_posts_path(@user) %>
      </button>
    </li>
  </ul>
</div>
