<div id="users-show">
  <%= link_to "Back to users", users_path, class: 'btn-back' %>

  <div class="user-card">
    <img src="<%= @user.photo %>" alt="User photo">
    <div class="user-info">
      <h2><%= @user.name %></h2>
      <p> Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <div class="user-bio">
    <h2 class="section-title">Bio</h2>
    <p><%= @user.bio %></p>
  </div>

  <ul class="user-posts">
    <% @user.most_recent_posts.each do |post| %>
      <li class="post">
        <%= display_post(post) %>
      </li>
    <% end %>
    <li class="user-posts-more">
      <button>
        <%= link_to "See all posts", user_posts_path(@user) %>
      </button>
    </li>
  </ul>
</div>
