<%= render 'shared/main_navbar' %>

<div id="posts-index">
  <%= link_to "Back to users #{@user.name}", user_path(@user), class: 'btn-back' %>

  <div class="user-card">
    <img src="<%= @user.photo %>" alt="User photo">
    <div class="user-info">
      <h2><%= @user.name %></h2>
      <p> Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <% if user_signed_in? && current_user.name == @user.name %>
    <%=link_to "Create a new post", new_user_post_path(@user.id), class: 'link-new-post' %>
  <% end %>

  <ul class="user-posts">
    <% @user.posts.each do |post| %>
      <li class="post">
        <%= display_post(post) %>
      </li>
      <li class="post-comments">
        <%= display_comment(post) %>
      </li>
    <% end %>
    <li class="user-posts-more">
      <button>Pagination</button>
    </li>
  </ul>
</div>
