<div id="posts-show">
  <div class="post">
    <h2 class="post-title"><%= @post.title %></h2>
    <span class="post-id">#<%= @post.id %></span> 
    by <span class="post-author"><%= link_to @post.author.name, user_path(@post.author) %></span>
    <div class="post-info">
      <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    </div>
    <p class="post-body"><%= @post.text %></p>
    <% if @post.likes_counter.zero? %>
      <%= button_to "Be the first to like this post", user_post_likes_path(user_id: @post.author.id, post_id: @post.id), method: :post, class: 'btn-like' %>
    <% else %>
      <%= button_to "Like this post", user_post_likes_path(user_id: @post.author.id, post_id: @post.id), method: :post, class: 'btn-like' %>
    <% end %>
    <% if @post.comments_counter.zero? %>
      <%= link_to "Be the first to leave a comment", new_user_post_comment_path(user_id: @current_user.id, post_id: @post.id), class: "link-new-comment" %>
    <% else %>
      <%= link_to "Leave a comment", new_user_post_comment_path(user_id: @current_user.id, post_id: @post.id), class: "link-new-comment" %>
    <% end %>
  </div>

  <div class="post-comments">
    <% if @post.most_recent_comments.empty? %>
        <p class="no-comments">No comments for this post yet. Be the first one to comment something!</p>
      <% else %>
        <ul>
          <% @post.most_recent_comments.each do |comment| %>
            <li>
              <span class="author-name"><%= link_to comment.author.name, user_path(comment.author) %>: </span>
              <span class="comment-body"><%= comment.text %></span>
              <span class="comment-id">#<%= comment.id %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
  </div>
</div>
